<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>pAnnotations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <!--<link rel="stylesheet" href="/css/bootstrap-responsive.min.css">-->
        <link rel="stylesheet" href="/css/main.css">	

	<script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js" ></script>
        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script src="/js/vendor/socket.io.js"></script>

        <script src="/js/vendor/prezi_player.js"></script>
        <script src="/js/vendor/prezi_editor.js"></script>
	<script src="/js/fbIntegration.js"></script>
        <script>
            window.presenter = <%= presenter %>;
            window.socket = io.connect(window.location.origin);
        </script>
        <script src="/js/control_prezi.js"></script>	
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
          window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
              appId      : '368793826554535',                        // App ID from the app dashboard
              status     : true,                                 // Check Facebook Login status
              xfbml      : true                                  // Look for social plugins on the page
            });
	  
	  window.fbApi.checkFbStatus();
            // Additional initialization code such as adding Event Listeners goes here
          };

          // Load the SDK asynchronously
          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/all.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
        
        <div class="container">
          <header>
            <h1>pAnnotations</h1>
          </header>
          <div class="row">
            <div id="prezi" class="span10" data-prezi="swbce1k38-au"></div>
            <div  id="sidebar" class="span4">
              <div id="stream"></div>
              <div id="chat"></div>
	          </div>
          </div>
        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="/js/vendor/bootstrap.min.js"></script>

        <script src="/js/lib.js"></script>
        <script>
          // all socket handler modules should be added here
          // check /handlers/init.js for demo
          window.socket_handlers = {};
          var socket = io.connect(window.location.origin);
        </script>
        <script src="/js/main.js"></script>
        <script src="/handlers/init.js"></script>
        <script src="/handlers/chat.js"></script>
        <script src="/handlers/comments.js"></script>
        <script src="/js/audioStreams.js"></script>
        <script>
          (function register_handlers () {
            for (var name in socket_handlers) {
              socket.on(name, 
                (function handler_wrapper (handler_name) {
                  return function (data) {
                    socket_handlers[handler_name](socket, data);
                  }
                })(name)
              );
            }
          })();
        </script>
    </body>
</html>
