

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#chat, #comments {
  border: 1px solid #ccc;
  background-color: #fff;
  width: 200px;
  min-height: 400px;
  max-width: 800px;
  margin: 5px;
  overflow: auto;
}
#prezi {
  float: left;
}
#chat {
  float: left;
}
#comments {
  display: none;
  float: left;
}