/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body,
html {
  width: 100%;
}
.container {
  width: 1200px;
}
#chat,
#comments {
  border: 1px solid #ccc;
  background-color: #fff;
  height: 500px;
}
#prezi {
  float: left;
}
#prezi iframe {
  border: 2px dashed #1c18ff;
  position: relative;
  width: 100%;
}
#chat {
  position: relative;
  float: left;
  width: 220px;
}
#chat ul {
  width: 220px;
  margin: 0;
  padding: 0;
  height: 500px;
  overflow: auto;
}
#chat form {
  position: absolute;
  bottom: 0;
  width: 220px;
  margin: 0;
  padding: 0;
}
#chat form input[type='text'] {
  position: absolute;
  border-radius: 0px;
  width: 170px;
  height: 20px;
}
#chat form input[type='submit'] {
  top: 0;
  right: 0;
  position: absolute;
  width: 40px;
  line-height: 25px;
}
#comments {
  float: left;
}
